.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6633, #f63e2e);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-item,
.header__navbar-list {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 350;
    color: var(--white-color);
    margin: 4px 8px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.header__navbar-link {
    text-decoration: none;
    color: var(--white-color);
    display: inline-flex;
    align-items: center;



}
.navbar-icon {
    color: var(--white-color) ;
    font-size: 1.8rem;
    margin: 0 4px;
}
.navbar-icon:hover,
.header__navbar-link:hover,
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.item-titile--noselect {
    color: var(--white-color);
    cursor: text;
}
.header__navbar-item--bold {
    font-weight: 500;

}
.header__navbar-item--seperate::after {
    content: "";
    display: block;
    height: 14px;
    border-right: 2px solid #f86c5c;
    position: absolute;
    top: 1px;
    right: -9px;
    transform: translateX(50%);
}

.header__open-qr:hover .header__qr {
    display: block;
}

/* QR Code */

.header__qr {
    position: absolute;
    width: 186px;
    top: 120%;
    left: 0;
    background-color: var(--white-color);
    padding: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -10px;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.apps-img {
    height: 1.8rem;
}
.header__qr-apps:nth-child(1){
    margin-left: 10px;
}
.header__qr-apps:nth-child(2) {
    margin-right: 11px;
}

/* Notification  */

.header__noti {
    position: absolute;
    top: 128%;
    right: 0;
    width: 400px;
    color: black;
    margin: 0;
    padding: 0;
    box-shadow: 3px 1px 2px rgb(0 0 0 / 20%);    
    background-color: var(--white-color);
    cursor: default;
    display: none;
    transform-origin: calc( 100% - 20px) top;
    z-index: 9999;
}

.header__noti::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -27px;
} 
@keyframes headerNoti {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__noti-display:hover .header__noti {
    animation: headerNoti ease-in 0.3s;
    display: block;
}
.header__noti-display::after {
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: calc( 100% - 10px);
}
.noti__header {
    padding: 5px 0 5px 10px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: #999;

}
.header__noti-content {
    display: flex ;

}
.header__noti-content:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.header__noti-content--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}
.noti_content-img {
    min-width: 40px;
    max-width: 40px;

}
.noti_content-img img {
    width: 100%;
    position: relative;
    top: -6px;
    left: 5px;
}

.noti_content-discrip {
    padding: 0 0 0 10px;
    color: var(--text-color);
}
.noti__title {
    margin: 4px 0 0 2px;
    padding: 0;
    font-weight: 450;
    font-size: 1.5rem;

}
.noti__detail {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;

}
.noti__footer {
    background-color: var(--white-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 0px 0 10px 0;
    font-weight: 400;   
}

/* Modal Register Form */
.modal__body {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
}
.modal__container {
    padding: 0 32px;

}
.modal__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    margin-top: 12px;
}
.modal__header-login {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);

}
.modal__header-swich {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;

}
.model__form-input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding-left: 8px;
}

.model__form-input:focus {
    border-color: #888;
}
.modal__auther-policy {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    font-weight: 500;
    padding: 0 12px;
    
}
.modal__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.modal__swith-btn {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.modal__swith-btn--back {
    margin-right: 8px;
}
.modal__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    background-color: #e6dede;
    margin-top: 22px;
    height: 52px;
    
}
.modal__socials-facebook {
    background-color: #5757de;
    color: var(--white-color);
    width: 100%;
  
}
.modal__socials-google {
    background-color: var(--white-color);
    width: 100%;
    color: var(--text-color);

}
.modal__socials-text {
    font-size: 1.2rem;
    margin: 0 32px;

}
.modal__socials-i-fb {
    color: var(--white-color);
    font-size: 1.8rem;
}.modal__socials-i-gg {
    font-size: 1.8rem;

}

/* Modal Login Form */

.modal__auther-option {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal__option-title {
    text-decoration: none;
    font-size: 1.5rem;
}

.modal__option-seperate {
    display: block;
    height: 13px;
    border-right: 1px solid #c1bfbf;
    margin: 0 12px;
    width: 1px;
}
.modal__option-forget {
    color: var(--primary-color);
}
.modal__option-help {
    color: #949494;
}

/* Header_Search style */
.header__search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    padding: 0 54px;
}

.header__search-logo {
    display: flex;
    align-items: center;
    width: 200px;
}
.img-logo {
    width: 150px;
    fill: var(--white-color);
}

.header__search-search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    display: flex;
    border-radius: 4px;
    align-items: center;

}
.header__search-cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 12px;
}

.header__cart-wrap:hover .header__cart-wrap-list  {
    display: block;

}
.header__cart-wrap-list {
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 2px 4px #ccc;
    position: absolute;
    top: calc(100% + 11px);
    right: -11px;
    display: none;
    animation: fadeIn ease 0.2s;
}
.header__cart-wrap-list::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 17px 19px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 1px;

}
.no-cart {
    width: 54%;
}

.header__cart-status {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 4px 0 20px 0;
}





.cart-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.header__search-input {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-search-input {
    width: 100%;
    border: none;
    height: 100%;
    color: var(--text-color);
    border-radius: 4px;
    outline: none;
    font-size: 1.4rem;
    padding: 0 6px;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    border-radius: 2px;
    display: none;
    overflow: hidden;

}

.header__search-history-header {
    color: rgb(170, 169, 169);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 8px 12px 0;
}

.header__search-history-lists {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 4px 0;
}

.header__search-search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-item {
    padding: 8px 12px;

}

.header__search-history-item a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    height: 100%;
    font-weight: 450;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-selection {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #444;
    border-left: 1px solid #a9a8a8;
    padding: 3px 0 3px 12px;
    position: relative;
}
.header__search-selection::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:111%;
    width: 100%;
    height: 10px;

}
.header__search-selection:hover .header__search-options {
    display: block;
}
.selection__icon {
    padding: 0 10px;
}
.header__search-icon {
    background-color: var(--primary-color);
    height: 32px;
    width: 60px;
    border-radius: 3px;
    font-size: 1.5rem;
    justify-content: center;
    color: var(--white-color);
    margin: 0 3px;
    display: flex;
    align-items: center;
    
}
.header__search-options {
    list-style: none;
    position: absolute;
    right: 0;
    top: 90%;
    width: 120px;
    padding-left: 0;
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow:0 0 3px #ccc;
    display: none;
    animation: fadeIn ease 0.2s;
    
}
.header__search-item {
    font-size: 1.5rem;
    text-align: right;

}
.header__search-item i {
    margin: 6px 4px;
    color: var(--primary-color);

}